*.sif
.ssh/id_rsa
.ssh/config
*.old
backups
/local/share/code-server/logs/*
.local/share/code-server/CachedExtensionVSIXs
.local/share/code-server/CachedProfilesData
.local/share/code-server/coder-logs
!.local/share/code-server/.gitkeep 
.local/share/code-server/extensions
.local/share/code-server/logs
.local/share/code-server/Machine
.local/share/code-server/User
.local/share/code-server/coder.json
.local/share/code-server/*.sock
.local/share/code-server/heartbeat
.local/share/code-server/machineid
*.pyi